/* ------------------------------
global styles
------------------------------ */

body
{
  margin: 0;
  padding: 0;
  font-family:Arial,Helvetica,sans-serif;
  text-align: center;
  color: #333;
}

a:link { color: #DC143C; }
a:visited { color: #b93411; }
a:focus { color: #000; }
a:hover { color: #7d8206; }
a:active { color: red; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em; }

h2
{
  color: #B52C07;
  font: georgia, times, "times new roman", serif;
}

h2 a { text-decoration: none; }

h3
{
  color: #7d8206;
  font: georgia, times, "times new roman", serif;
}



/* ------------------------------
container styles
------------------------------ */

#container
{
  margin: 1em auto;
/*  width: 650px;*/
  width: 850px;
  text-align: left;
}

/* ------------------------------
header styles
------------------------------ */

#header
{
  height: 215px;
  width: 850px;
  border-bottom: 0px solid #fff;
}

/* ------------------------------
mainnav styles
------------------------------ */

#mainnav
{
  background: #9FA41D;
  color: #272900;
  padding: 0px;
  margin-bottom: 0px;
  height: 25px;
}

#mainnav ul
{
  margin: 0 0 0 20px;
  padding: 0;
  list-style-type: none;
  border-left: 1px solid #C4C769;
}

#mainnav li
{
  display: inline;
  padding: 0 10px;
  border-right: 1px solid #C4C769;
}

#mainnav li a
{
  font-size: 15px;
  text-align: center;
  color: #272900;
}

#mainnav li a:hover
{
  text-decoration: none;
  color: #fff;
  background-color: #272900;
}

/* ------------------------------
contents styles
------------------------------ */

#contents
{
  float: left;
  width: 850px;
  margin:0px;
  background:#ddd;
}

#contents p { line-height: 165%; }


/* ------------------------------
footer styles
------------------------------ */

#footer
{
  clear: both;
  color: #272900;
  text-align: right;
  font-size: 90%;
  background: #9FA41D;
  padding: 5px;
  width:840px;
}

